DOCUMENTDB_IMAGE=ghcr.io/documentdb/documentdb/documentdb-local:trace-4fbbfcb8
DOCUMENTDB_USERNAME=docdbadmin
DOCUMENTDB_PASSWORD=Documentdb!Local1
DOCUMENTDB_PORT=10260
DOCUMENTDB_SERVICE_VERSION=local

OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318
OTEL_COLLECTOR_HEALTH_PORT=13133
OTEL_TRACES_SAMPLER_ARG=1.0
DOCUMENTDB_SQL_COMMENTER_ENABLED=false

JAEGER_UI_PORT=16686
